main .heroe{
    padding:10px;
}
main .heroe h2{
    text-align:center;
    text-transform:uppercase;
    font-size:40px;
    color:#c2a464;
    padding-top:10px;
}
main .heroe #diferente{
    font-family:TrajanPro3Bold;
    font-size:30px;
}
main .heroe p{
    color:white;
    text-align:center;
}